* {
  border: none;
  border-radius: 0;
  font-family: "UbuntuMono Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: #282828;
  color: #ebdbb2;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#workspaces {
  background: #282828;
  margin: 5px 10px;
  border-radius: 10px;
}

#workspaces button {
  padding: 5px 10px;
  color: #928374;
  border-radius: 10px;
  background: transparent;
  transition: all 0.3s ease;
}

#workspaces button:hover {
  background: #3c3836;
  color: #ebdbb2;
}

#workspaces button.active {
  background: #fb4934;
  color: #ffffff;
  border-radius: 10px;
  font-weight: bold;
  padding: 5px 15px;
}

#workspaces button.focused {
  background: #fb4934;
  color: #ffffff;
  border-radius: 10px;
  font-weight: bold;
  padding: 5px 15px;
}

#mode {
  background: #fe8019;
  color: #282828;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px 5px;
  font-weight: bold;
}

#window {
  background: transparent;
  padding: 5px 10px;
  color: #ebdbb2;
}

#tray {
  background: #3c3836;
  color: #ebdbb2;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px 5px;
}

#tray > .tray-item {
  padding: 0px 2px;
}

#tray > .tray-item:hover {
  background: #504945;
  border-radius: 6px;
}

#custom-weather {
  background: #3c3836;
  color: #d3869b;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px 5px;
}

#network {
  background: #3c3836;
  color: #83a598;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px 5px;
}

#pulseaudio {
  background: #3c3836;
  color: #83a598;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px 5px;
  min-width: 78px;
}

#clock {
  background: #3c3836;
  color: #fabd2f;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px 5px;
}

#battery {
  background: #3c3836;
  color: #8ec07c;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px 5px;
}

#battery.charging {
  color: #b8bb26;
}

#battery.warning:not(.charging) {
  background: #fb4934;
  color: #ebdbb2;
}

#custom-power {
  background: #fb4934;
  color: #282828;
  padding: 5px 12px;
  border-radius: 10px;
  margin: 5px 5px 5px 0px;
  font-weight: bold;
}

